body {
    font-family: 'Quicksand', sans-serif;
    background-color: #bedbbb;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 3rem;
}

h2 {
    font-family: 'Audiowide', cursive;
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}

footer p {
    font-size: 0.75rem;
}

.bubble {
    background: #bbbbbb;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-color: #bbbbbb;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
  }

